[Desktop Entry]
Type=Application
Version=1.0
Name=Swash
Comment=Screenshot annotator and lightweight image editor
Exec=swash %U
Icon=dev.lemmy.swash
Terminal=false
Categories=Graphics;
StartupNotify=true
